/*====  RESET ============================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
label {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

input {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: none;
  text-align: right;
}
.result input::placeholder {
  color: #ffffff;
  padding: 12px 16px;
}

fieldset {
  border: none;
}
.vermelho {
  color: var(--error-color);
}
/*=== VARIABLES========================== */
:root {
  --white-color: #ffffff;
  --background-color: #e6f6f9;
  --background-input: #f2f6ff;
  --button-color: #01a7c2;
  --button-pressed-color: #0e7182;
  --error-color: #df4a4a;
  --text-color: #303030;
  --text-placeholder-color: #b1b9cc;
}
/* === BASE=============== */
main {
  height: 100vh;
  width: 100vw;

  background: var(--background-color);
  display: flex;
  flex-direction: column;
}
/* ===RESULTADO============ */
.result {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.result input {
  width: 20rem;
  height: 2.62rem;

  border-radius: 8px;
  background: var(--button-color);
  color: #ffffff;
}
.result .valor-pessoa {
  margin-top: 1.5rem;
}

/* ===FORM=============== */
.container {
  width: 327px;
  height: 416px;
  margin: 1.5rem;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  background: var(--white-color);
}
fieldset {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
/* ===VALOR PEDIDO======== */
.valor-pedido input {
  background: var(--background-input);

  width: 295px;
  height: 42px;
  border-radius: 8px;
}
.valor-pedido input::placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: var(--text-placeholder-color);
  text-align: right;
  margin: 12px 10px;
}
/*===PORCENTAGEM GORJETA ============== */
.porcentagens {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input[type='radio'] {
  display: none;
  /* SOFRI PRA DESCOBRIR ISSO AQUI */
}
input[type='radio'] + label {
  padding: 20px 54px;
  margin: 4px;
  text-align: center;

  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 700;

  border-radius: 8px;
  background-color: var(--button-color);
  color: var(--white-color);
}
